<div class="central-content">
  <h1>Bienvenido a Mis Mundos</h1>
  <p>
    Explora universos de magia, misterio y aventuras. Aquí comparto mis proyectos de escritura fantástica, donde cada historia es una puerta a lo imposible.
  </p>
  <div class="dragon">🐉</div>
</div>

<!-- Proyecto 1: Inmortal -->
<a routerLink="/proyecto1" class="scroll-section proyecto link-section">
  <h2>Inmortal</h2>
  <img src="assets/mapa.png" alt="mapa Inmortal" style="width:200px; border-radius:16px; margin-bottom:1rem;">
  <p>
    En un mundo sin nombre en ocasiones se produce el milagro de que un niño nazca sin que la madre haya estado con hombre alguno, estos son los llamados hijos de la sangre, y su bendición es la inmortalidad. Pyrus es un hijo de la sangre atormentado por el paso del tiempo y por dicha bendición, que no le deja descansar en paz.
  </p>
</a>

<!-- Proyecto 2: Las Trece Puertas -->
<a routerLink="/proyecto2" class="scroll-section proyecto link-section">
  <h2>Las Trece Puertas</h2>
  <img src="assets/13puertas-portada.jpg" alt="Las trece puertas" style="width:200px; border-radius:16px; margin-bottom:1rem;">
  <p>
    Aquí va la descripción de Las trece puertas. Un mundo misterioso donde las puertas cierran mundos completos y esconden secretos ancestrales que cambiaron la historia.
  </p>
</a>

<!-- Sobre Mí -->
<a routerLink="/sobremi" class="scroll-section proyecto link-section">
  <h2>Sobre Mí</h2>
  <img src="assets/foto.jpg" alt="yo" style="width:200px; border-radius:16px; margin-bottom:1rem;">
  <p>
    Este soy yo. Un escritor apasionado por los mundos de fantasía, la magia y la aventura. Cada historia que creo es una ventana a universos donde la imaginación no tiene límites.
  </p>
</a>