<div class="central-content">
  <h1>Bienvenido a Mis Mundos</h1>
  <p>
    Explora universos de magia, misterio y aventuras. Aquí comparto mis proyectos de escritura fantástica, donde cada historia es una puerta a lo imposible.
  </p>
  <div class="dragon">🐉</div>
  <div class="images-row">
    <a routerLink="/proyecto1">
        <img src="assets/inmortal-portada.png" alt="Dragón" />
    </a>
    <a routerLink="/proyecto2">
        <img src="assets/13puertas-portada.jpg" alt="Mapa" />
    </a>
    <a routerLink="/sobremi">
        <img src="assets/foto.jpg" alt="Dragón" />
    </a>
  </div>
</div>